@charset "utf-8";

@font-face{
font-family: "lato-semibold";
src: url('../fonts/Lato-Semibold.ttf');
}

@font-face{
font-family: "lato-regular";
src: url('../fonts/Lato-Regular.ttf');
}

/* Général */

nav.container {
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
padding: 30px;
vertical-align: middle;
}

nav li a {
	display: block;
	float: left;
	padding-right: 55px;
	color: #56146c;
	font-family: "lato-regular";
	list-style: none;
	/*font-size: 1em; */	
}

nav li a:hover {
	color: #be1090;
	list-style: none;
	text-decoration: none;
}

#logo{
	float: left;
}

nav li a.moncompte {
	color: #56146c;
	border: solid 1px #56146c;
	border-radius: 2px;
	padding: 5px;
	margin-right: 40px;
	list-style: none;
	
}

nav li a.moncompte:hover {
	color: #be1090;
}

nav li a.logout {
	color: #56146c;
	border: solid 1px #56146c;
	border-radius: 2px;
	padding: 5px;
	list-style: none;
}

nav li a.logout:hover {
	color: #be1090;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	color: #000;
	
}	

a {
	color:orange;
	text-decoration: none;
}

img{
	min-width: 100%;
	height: auto;
}

img.logo{
	width: 30%; /* Images flexibles */
	height: auto;
}

h1{
	margin: 0;
	text-align: center;
}

select.flow {
-webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   }
